// importin base.scss
@import 'base';

body,
html {
  height: 100%;
}
/****************************
MAIN-COVER IMAGE
******************************/
.main {
  margin-top: 40px;
  .cover {
    position: relative;
  }

  .front-header-wrapper {
    position: absolute;
    top: 20%;
    float: left;
    color: #fff;
    margin-left: 40px;
    margin-right: 10px;
  }

  img {
    width: 100%;
    filter: brightness(60%);
    background-size: cover;
    height: 100vh;
  }
}

.services-home{
  margin: 10px;
  padding: 10px;
}

.pages{
  margin-top:6em;
}


/**********************
	Maps?
**********************/

.leaflet-container {
	height: 600px;
	width: 80%;
}

.tdfield{
	width: 160px;
	height: 20px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
